<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/especiales.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Trabajo Final</title>

</head>
<body>
    <header>
        <div class="logocont">
            <img src="../logo.png" title="Freyja's Sanctuary" alt="Freyja's Sanctuary" class="logo">
            <h1>Freyja's Sanctuary</h1>
        </div>
    </header>
    <nav>
        <div class="navbar">
            <a href="../Index.html" target="_blank">Inicio</a>
            <a href="galeria.html" target="_blank">Galeria</a>
            <a href="presupuestos.html" target="_blank">Presupuestos</a>
            <a href="contacto.html" target="_blank">Contacto</a>
        </div>
    </nav>
    <main class="contenedor"> 
        <div>
            <h1 class="h1avis">Aviso legal</h1>
            <p class="plegal">Política de privacidad y cookies <br>
                (Actualización: 30 de enero de 2025)<br>
                
                Como Responsable del tratamiento de los datos, Freyjas-sanctuary se compromete a proteger sus datos personales.<br>
                Mediante esta política, queremos informarle y responder a cualquier pregunta que pueda tener sobre la recopilación y el tratamiento de sus datos personales de conformidad con la normativa vigente en España y la Unión Europea. <br>
                Los datos personales se refieren a cualquier información relativa a una persona física que pueda ser identificada directa o indirectamente (p. ej., apellido, nombre, identificador, dirección de correo electrónico, datos de ubicación, etc.), en adelante denominados «Datos personales» o «Datos». <br>
                La presente política se aplica a sus Datos recopilados por Freyjas-sanctuary independientemente del canal y, en particular, cuando visita nuestro sitio web <a href="../Index.html">https://www.Freyjas-sanctuary.com/</a> y sus extensiones (colectivamente el «Sitio»), cuando se suscribe a nuestras ofertas por correo postal o cuando se comunica con nuestro departamento de atención al cliente por teléfono.<br>                    
                
                1/ Responsable del tratamiento de los datos<br>
                Sus Datos personales son recopilados por: <br>
                Freyjas-sanctuary, S.L.<br>
                Inscrita en el Registro Mercantil de Huesca, CIF H-31.018914<br> 
                Con domicilio social en: Carrer d'Amigó, 11, 5ª Planta - 08021 Barcelona, España<br> 
                Con el fin de garantizar el cumplimiento de las disposiciones aplicables y de conformidad con sus obligaciones legales, Freyjas-sanctuary ha designado un Delegado de protección de datos (DPD). Para ponerse en contacto con el DPD, escriba a la siguiente dirección de correo electrónico: dpo@Freyjassanctuary.com.<br>     
                <span class="cajacondi"> <input type="checkbox" name="accept"> Acepte los terminos y condiciones<br>
                
                <button type="submit">Enviar</button>
                </span>
            </p>    
            
        </div>
    </main> 
    <footer>
        <div class="redescont">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../imagenes/Instagram_logo_2022.jpg.webp" alt="instagram" title="instagram" width="50">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../imagenes/facebook.jpg" alt="facebook" title="facebook" width="50">
            </a>
            <a href="https://x.com/?lang=es&mx=2" target="_blank">
                <img src="../imagenes/twiter.png" alt="twiter" title="twiter" width="50" height="50">
            </a>
            <a href="avisoLegal.html"><p>Aviso legal</p></a>
        </div>
    </footer>
</body>
</html>