<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/especiales.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Trabajo Final</title>

</head>
<body>
    <header>  
        <div class="logocont">
            <img src="../logo.png" title="Freyja's Sanctuary" alt="Freyja's Sanctuary" class="logo" width="84.41" height="100">
            <h1>Freyja's Sanctuary</h1>
        </div>
    </header>
    <nav>
        <div class="navbar">
            <a href="../Index.html"  >Inicio</a>
            <a class="marcador" href="galeria.html">Galeria</a>
            <a href="presupuestos.html"  >Presupuestos</a>
            <a href="contacto.html"  >Contacto</a>
       </div>
    </nav>
    <main>
        <div class="container">
        <h1 class="espaciado">Galeria</h1>
        <div class="contenedor espaciado">
            <div class="txtimg">
                <img class="ft" src="../imagenes/1.jpeg" alt="vela 1" width="1080" height="1334">
               <!-- <span>150cm X 15cm</span> -->
            </div>
            <img class="ft" src="../imagenes/2.jpg" alt="vela 2" width="1080" height="1337">
            <img class="ft" src="../imagenes/3.jpg" alt="vela 3" width="1080" height="1203">
            <img class="ft" src="../imagenes/4.jpg" alt="vela 4" width="1080" height="1047">
            <img class="ft" src="../imagenes/5.jpg" alt="vela 5" width="1080" height="1349">
            <img class="ft" src="../imagenes/6.jpg" alt="vela 6" width="1080" height="1386">
          </div>
        </div>
    </main>
    <footer>
        <div class="redescont">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../imagenes/Instagram_logo_2022.jpg.webp" alt="instagram" title="instagram" width="50" height="50">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="../imagenes/facebook.jpg" alt="facebook" title="facebook" width="50" height="50">
            </a>
            <a href="https://x.com/?lang=es&mx=2" target="_blank">
                <img src="../imagenes/twiter.png" alt="twiter" title="twiter" width="50" height="50">
            </a>
            <a href="avisoLegal.html"><p>Aviso legal</p></a>
        </div>
    </footer>
</body>
</html>